
.left-screen {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 550px;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: inset 1px 2px 20px #e4e4e4;
}

.news-header span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(90,136,245);
}

.site-under img {
    width: 200px;
    opacity: 0.6;
}

.site-under__sign img {
    width: 180px;
    opacity: 0.8;
}