
html,body {
    width: 100%;
}

* {
    box-sizing: border-box; 
}

body {
    margin-top: 80px;
    display: flex;
    /* align-self: center; */
    justify-content: center;
    background-color: skyblue;

}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: purple; */
    /* width: 1100px; */
    height: 550px;
}

.main-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: tomato;
    padding: 10px;
    border-radius: 15px;
    box-shadow: inset 1px 2px 20px #e4e4e4;
    height: 630px;

}

img {
    width: 700px;
    z-index: -1;
    border-radius: 10px;

}

#bg-img {
    /* background-color: white; */
    /* width: 700px; */
    /* position: relative; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    

}

nav {
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
    padding: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-photo {
    width: 75px;
    border-radius: 50%;
    border: 2px solid white;
}

#login-form {
    
}

#login-form input {
    border: none;
    outline: none;
    width: 120px;
    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */    
    top: 250px;
    /* background-color: blue; */
    position: absolute;
}

#clock{
    font-size: 150px;
    color: white;
    position: relative;
    font-weight: 700;
}

footer {
    margin-top: 10px;
    text-align: center;
    /* height: 50px; */
    /* background-color: blue; */
}