
.right-screen {
    background-color: white;
    display: flex;
    width: 250px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 1px 2px 20px #e4e4e4;
}

.to-do {
    margin-top: 10px;
    /* background-color: burlywood; */
    width: 200px;
    height: 400px;
}

.Todo-header {
    font-size: 20px;
    font-weight: bold;
    color: rgb(90,136,245);
}

#todo-form {
    margin-bottom: 10px;

}

#todo-form input{
    border: none;
    outline: none;
    /* background-color: white; */
    border-bottom: 3px solid tomato;
    /* text-align: start; */
    height: 30px;
    width: 200px;
    font-size: 20px;
    font-weight: 500;
}

#todo-form input::placeholder {
    opacity: 0.5;
    font-size: 15px;
}

li {
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

li span {
    display: block;
}

#todo-list {
    height: auto;
    overflow: auto;
    /* background-color: blue; */
    height: 220px;
    /* display: flex; */

}

#trash {
    opacity: 0.5;
    font-size: 15px;
}