
.gogle-serach {
    /* height:40px; */
    border: solid 2px skyblue;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: skyblue;
    width: 250px;
    height: 30px;
    border-radius: 30px;
}

#search-form {
 
}

#search-form input {
    border: none;
    outline: none;
    /* padding-left: 4px; */
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-weight: 300;
}

#search-form input::placeholder {
    color: rgb(126, 126, 126);
    font-size: 13px;
    font-weight: 300;
}
