/* Settings */
@import "reset.css";

/* Screens */
@import "main-screen.css";
@import "right-screen.css";
@import "left-screen.css";
@import "calendar.css";
@import "dycalendar.css";
@import "search.css";


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
  }


.hidden {
    display: none;
}

#quote span:first-child {
    color: red;
    font-weight: bold;
    display: block;
}
