
/* "Always Show Up/Down Arrows"; */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#range {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
}

#play {
    font-weight: bold;
    border-radius: 5px;
}

button:active {
    opacity: 0.5;
}

#result {
    display: block;
    font-weight: bold;
}